name: Check Unity License

on: 
  workflow_call:
    outputs:
      state:
        description: 'License state'
        value: ${{ jobs.LicenseCheck.outputs.state }}
env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
jobs:
  LicenseCheck:
    name: Check Unity license
    runs-on: ubuntu-latest
    steps:
      - name: print secrets
        run: |
          echo "${{ secrets.UNITY_LICENSE }}"
          echo "${{ secrets.UNITY_SERIAL }}"
          echo "${{ secrets.UNITY_EMAIL }}"
          echo "${{ secrets.UNITY_PASSWORD }}"
      - name: License doesnt exists
        if: ${{ ((!startsWith(env.UNITY_LICENSE, '<') || env.UNITY_LICENSE == '') && env.UNITY_SERIAL == '') || env.UNITY_EMAIL == '' || env.UNITY_PASSWORD == ''}}
        run: |
          echo 'Some secrets infos are missing'
      - id: license_state
        name: Success - License Exists
        if: ${{ (startsWith(env.UNITY_LICENSE, '<') || env.UNITY_SERIAL != '') && env.UNITY_EMAIL != '' && env.UNITY_PASSWORD != ''}}
        run: |
          echo "Exists license details"
          echo 'state=true' >> $GITHUB_OUTPUT
    outputs:
      state: ${{ steps.license_state.outputs.state }}
