name: Get Version
on: 
  workflow_call:
    inputs:
      appply-version:
        description: 'Apply version tag'
        required: true
        type: boolean
    outputs:
      version:
        description: 'Repo version'
        value: ${{ jobs.get-version.outputs.version }} 
    
jobs:
  get-version:
    name: Get version
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check branch
        id: branch
        run: |
          branch=$(git rev-parse --abbrev-ref HEAD)
          if [ $branch == "develop" ]; then 
          echo "namespace=d" >> $GITHUB_OUTPUT
          else
          echo "namespace=''" >> $GITHUB_OUTPUT
          fi
        shell: bash
      - name: Create version
        id: semantic
        uses: paulhatch/semantic-version@v5.0.2
        with:
          tag_prefix: "v"
          bump_each_commit: true
          major_pattern: "/BREAKING CHANGE:|release:/"
          minor_pattern:  "/feat:/"
          version_format: "${major}.${minor}.${patch}"
          namespace: ${{steps.branch.outputs.namespace}} 
      - name: Set Version Tag
        if: ${{ inputs.appply-version }}
        run: |
          git tag ${{steps.semantic.outputs.version_tag}} 
          git push origin ${{steps.semantic.outputs.version_tag}}
        shell: bash
      - name: Print version
        run: |
          echo ${{steps.semantic.outputs.version_tag}}
        shell: bash
    outputs:
      version: ${{ steps.semantic.outputs.version_tag }}