name: Get Version
on: 
  workflow_call:
    outputs:
      version:
        description: 'Repo version'
        value: ${{ jobs.get-version.outputs.version }} 
      format-version:
        description: 'Formatted Repo version'
        value: ${{ jobs.get-version.outputs.format-version }}
    
jobs:
  get-version:
    name: Get version
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check branch
        id: branch
        run: |
          branch=$(git rev-parse --abbrev-ref HEAD)
          if [ $branch == "develop" ]; then 
          echo "namespace=d" >> $GITHUB_OUTPUT
          elif [ $branch == "production" ]; then
          echo "namespace=f" >> $GITHUB_OUTPUT
          elif [ $branch == "main" ]; then
          echo "namespace=m" >> $GITHUB_OUTPUT
          fi
        shell: bash
      - name: Create version
        id: semantic
        uses: paulhatch/semantic-version@v5.0.2
        with:
          tag_prefix: "v"
          bump_each_commit: true
          major_pattern: "/BREAKING CHANGE:|release:/"
          minor_pattern:  "/feat:/"
          version_format: "${major}.${minor}.${patch}"
          namespace: ${{steps.branch.outputs.namespace}} 
      - name: Print version
        id: format
        run: |
          echo ${{steps.semantic.outputs.version_tag}}
          format=${{steps.semantic.outputs.version_tag}}
          format=${format::-2}
          echo ${format}
          echo "result=${format}" >> $GITHUB_OUTPUT
        shell: bash
    outputs:
      version: ${{ steps.semantic.outputs.version_tag }}
      format-version: ${{ steps.format.outputs.result }}