name: Initialise Repo
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  check-license:
    name: Check Unity License
    secrets: inherit
    uses: ./.github/workflows/check-license.yml
  check-matrix:
    name: Check Matrix File
    needs: [check-license]
    if: needs.check-license.outputs.state != ''
    secrets: inherit
    uses: ./.github/workflows/check-matrix.yml
  get-names:
    name: Get project and client name
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: names
        # launch the script 'get-project-name.sh' that returns the repo name but in PascalCase. 
        run: ./.github/script/get-project-name.sh
        # The env section specifies environment variables that can be used inside the job. In this case values are passed from the job to the script.
        env:
          REPO_NAME: ${{ github.repository }} 
    outputs:
      name: ${{ steps.names.outputs.name }}
      client: ${{ steps.names.outputs.client }}
  build-repo:
    name:  Build Repo
    needs: [check-license,check-matrix]
    if: needs.check-license.outputs.state != '' && needs.check-matrix.outputs.state != ''
    secrets: inherit
    uses: ./.github/workflows/build-repo.yml
    with:
      matrixFile: ${{needs.check-matrix.outputs.file}}
  