name: Main Pipeline
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  check-license:
    name: Check Unity License
    secrets: inherit
    uses: ./.github/workflows/check-license.yml
  check-matrix:
    name: Check Matrix File
    needs: [check-license]
    if: needs.check-license.outputs.state != ''
    secrets: inherit
    uses: ./.github/workflows/check-matrix.yml
  get-names:
    name: Get project and client name
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: names
        run: ./.github/script/get-names.sh
        env:
          REPO_NAME: ${{ github.repository }} 
    outputs:
      name: ${{ steps.names.outputs.name }}
      client: ${{ steps.names.outputs.client }}
      formatted-name: ${{ steps.names.outputs.formatted-name }}
  build-repo:
    name:  Build Repo
    needs: [check-license,check-matrix, get-names]
    if: needs.check-license.outputs.state != '' && needs.check-matrix.outputs.state != ''
    secrets: inherit
    uses: ./.github/workflows/build-repo.yml
    with:
      matrix-file: ${{needs.check-matrix.outputs.file}}
      formatted-name: ${{needs.get-names.outputs.formatted-name}} 
  upload-repo:
    name:  Upload Repo
    needs: [check-license,check-matrix, build-repo, get-names]
    if: needs.check-license.outputs.state != '' && needs.check-matrix.outputs.state != ''
    secrets: inherit
    uses: ./.github/workflows/upload-build.yml
    with:
      matrix-file: ${{needs.check-matrix.outputs.file}}
      project-name: ${{needs.get-names.outputs.name}}
      client-name: ${{needs.get-names.outputs.client}}
      version: ${{needs.build-repo.outputs.version}}
      
  